.jungle-green-text {
    color: #49A078 !important;
}

.caribbean-current-text {
    color: #216869 !important;
}

.eerie-black-text {
    color: #1F2421 !important;
}

.platinum-text {
    color: #DCE1DE !important;
}


.btn-outline-secondary {
    float: right;
    background-color: #DCE1DE;
  }

.caribbean-current-container {
    background-color: #216869;
}

.caribbean-current-container > .row {
    margin-right: 0; /* Remove the default margin on the right side of the row */
    margin-left: 0;  /* Remove the default margin on the left side of the row */
}

.caribbean-current-container > .row > div {
    padding-right: 0; /* Remove padding on the right side of each column */
    padding-left: 0;  /* Remove padding on the left side of each column */
}


.space {
    padding: 100px;
}

.footer {
    background-color: #1F2421;
    color: #fff;
    padding: 50px;
}

.nav-item {
    margin-right: 10px; /* Adjust the margin-right value to your preference */
}

.team-member-image {
    height: 500px;
    width: auto; 
}
