.jungle-green-text {
    color: #49A078 !important;
}

.caribbean-current-text {
    color: #216869 !important;
}

.eerie-black-text {
    color: #1F2421 !important;
}

.platinum-text {
    color: #DCE1DE !important;
}

.jungle-green-button {
    background-color: #49A078; /* Darken the color further */
    border-color: #49A078; /* Darken the color further */
}

.jungle-green-button:hover {
    background-color: #2b5c52; /* Darken the color */
    border-color: #2b5c52; /* Darken the color */
}

.jungle-green-button:active {
    background-color: #49A078; /* Darken the color further */
    border-color: #49A078; /* Darken the color further */
}


